@import url(./vars.css);

button {
    border: none;
    padding: 10px 20px;
    border-radius: var(--border-radius-default);
    font-size: var(--font-size-default);
    line-height: var(--line-height-default);
    cursor: pointer;
}

.widget-toggle-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary);
    color: var(--text-color-reverse);
    z-index: 1000;
}

.widget-close-button {
    background-color: var(--bg-10);
    color: var(--text-color-default);
    border: 1px solid var(--border-color);
}

.modal .modal-actions .widget-close-button {
    flex: 1;
}

.custom-select {
    position: relative;
    display: inline-block;
    font-family: 'system-ui', -apple-system, sans-serif;
    font-size: var(--font-size-default);
    line-height: var(--line-height-default);
    color: var(--text-color-default);
    min-width: 225px;
    border-radius: var(--border-radius-default);
    border: 1px solid var(--border-color);
    overflow: visible;
    width: -webkit-fill-available;
}

.select-trigger {
    font-size: var(--font-size-default);
    line-height: var(--line-height-default);
    display: flex;
    justify-content: space-between;
    border-radius: var(--border-radius-default);
    align-items: center;
    background-color: var(--bg-accent);
    color: inherit;
    min-height: var(--input-size);
    padding: 0 12px;
    cursor: pointer;
    min-width: 225px;
    width: -webkit-fill-available;
}

.select-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--bg-default);
    color: var(--text-color-default);
    margin: 0;
    margin-top: 12px;
    padding: 0;
    list-style: none;
    transform: translateY(-10px);
    transition: all 0.3s ease; 
    z-index: 1000;
    border-radius: var(--border-radius-default);
    max-height: 220px;
    overflow-y: auto;
    border: 1px solid var(--border-color);
}

.selected-option {
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    overflow: hidden;
    user-select: none;
    min-width: 0;
}

.option.selected {
    background-color: var(--bg-10);
    color: var(--text-color-default);
}

.select-options .option {
    background-color: var(--bg-accent);
    padding: 0 20px;
    height: var(--input-size);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.select-options .no-data {
    background-color: var(--bg-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.select-options .option:hover {
    background-color: var(--border-color);
}

.custom-select.active .select-options {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.custom-select .icon {
    color: var(--text-color-default);
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.custom-select .icon-placeholder {
    color: var(--text-color-placeholder);
}

.arrow {
    margin-left: 4px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: var(--border-radius-sm);
}
::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-radius: var(--border-radius-sm);
}
::-webkit-scrollbar-corner {
    background: transparent;
}

.section {
    font-family: 'system-ui', -apple-system, sans-serif;
    min-height: 280px;
    padding: 12px 12px 0 12px;
    background: var(--bg-default);
    color: var(--text-color-default);
}

textarea {
    resize: vertical; /* lock horizontal resize, allow vertical resize */
}

.section-content {
    display: flex;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    gap: var(--card-gap);
}

.widget {
    font-family: 'system-ui', -apple-system, sans-serif;
    position: fixed;
    padding-top: 12px;
    bottom: 70px;
    right: 20px;
    width: 100%;
    max-width: 300px;
    height: 80vh;
    max-height: 600px;
    background: var(--bg-default);
    color: var(--text-color-default);
    border-radius: var(--border-radius-default);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.widget-header {
    display: flex;
    color: var(--text-color-default);
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 0;
}

.card {
    padding: 16px;
    background: var(--bg-10);
    color: var(--text-color-default);
    text-align: center;
    border-radius: var(--border-radius-default);
    margin-bottom: 12px;
    box-shadow: var(--card-box-shadow);
    border: 1px solid var(--border-color);
}

.card .price {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: var(--primary);
}

.reserve-btn {
    margin-top: 12px;
    background: var(--primary);
    width: 100%;
    color: var(--text-color-reverse);
}

.widget-content {
    padding: 12px;
    overflow-y: auto;
    gap: var(--card-gap);
    height: calc(100% - 88px);
    color: var(--text-color-default);
}

.widget-card-date {
    margin-top: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(12px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
}

/* Modal container */
.modal {
    font-family: 'system-ui', -apple-system, sans-serif;
    background-color: var(--bg-accent);
    color: var(--text-color-default);
    padding: 20px;
    border-radius: var(--border-radius-default);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    width: 90%;
}

/* Header */
.modal-header {
    color: var(--text-color-default);
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.modal-description {
    margin-bottom: 24px;
    color: var(--text-color-default);
}

.modal-additional-text {
    text-align: center;
    color: var(--primary);
}

/* Form */
.modal-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal-body label {
    font-size: var(--font-size-default);
    line-height: var(--line-height-default);
    margin-bottom: 4px;
    color: var(--text-color-default);
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.save-button {
    background-color: var(--primary);
    color: var(--text-color-reverse);
    flex: 1;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    max-width: 100%;
}

.save-button-text {
    color: var(--text-color-reverse);
}

.input-label {
    display: block;
    color: var(--text-color-default);
    font-size: var(--font-size-default);
    line-height: var(--line-height-default);
    margin-bottom: 8px;
}

.input {
    width: -webkit-fill-available;
    background-color: var(--bg-accent);
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    border-radius: var(--border-radius-default);
    color: var(--text-color-default);
    padding: 0px 12px;
    min-height: var(--input-size);
    font-family: 'system-ui', -apple-system, sans-serif;
    font-size: var(--font-size-default);
    line-height: var(--line-height-default);
    outline: none;
}

::-webkit-calendar-picker-indicator {
    filter: var(--calendar-icon-invert);
}

.input-error {
    border: 1px solid var(--danger);
}

input::placeholder,
input[type="date"]::placeholder,
textarea::placeholder {
    color: var(--text-color-placeholder);
}

.text-error {
    color: var(--danger);
}

.text-disabled {
    color: var(--text-color-placeholder);
}

.spinner-container {
    background-color: var(--bg-default);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 800px;
}

.spinner {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    color: var(--primary);
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner .75s linear infinite;
    animation: spinner .75s linear infinite;
}

.no-data-container {
    color: var(--primary);
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 24px;
    text-align: center;
}

.terms-modal {
    font-family: 'system-ui', -apple-system, sans-serif;
    background-color: var(--bg-default);
    padding: 20px;
    border-radius: var(--border-radius-default);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    width: 90%;
}

.terms-modal-body {
    white-space: break-spaces;
    overflow-y: auto;
    color: var(--text-color-default);
    max-height: 70vh;
}

.terms-modal-header {
    color: var(--text-color-default);
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
}

.terms-modal .modal-actions {
    justify-content: flex-end;
}

.terms-modal .widget-close-button {
    min-width: 100px;
    border: 1px solid var(--border-color);
}

.terms-link {
    color: var(--primary);
    cursor: pointer;
}

@media (max-width: 768px) {
    .save-button {
        width: 100%;
    }
}

@keyframes spinner {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
