@import url(./vars.css);

button {
    border: none;
    padding: 10px 20px;
    border-radius: var(--border-radius-default);
    font-size: var(--font-size-default);
    line-height: var(--line-height-default);
    cursor: pointer;
}

.widget-toggle-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary);
    color: black;
    z-index: 1000;
}

.widget-close-button {
    background-color: var(--bg-15);
    color: var(--text-color-default);
}

.custom-select {
    position: relative;
    display: inline-block;
    background-color: var(--bg-default);
    color: var(--text-color-default);
    min-width: 150px;
    border-radius: var(--border-radius-default);
    overflow: visible;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.select-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    color: inherit;
    min-width: 150px;
}

.select-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--bg-default);
    color: var(--text-color-default);
    margin: 0;
    margin-top: 8px;
    padding: 0;
    list-style: none;
    transform: translateY(-10px);
    transition: all 0.3s ease; 
    z-index: 1000;
    border-radius: var(--border-radius-default);
}

.selected-option {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
    overflow: hidden;
}

.option.selected {
    background-color: var(--bg-15);
    color:var(--text-color-default);
}

.select-options .option {
    padding: 10px 20px;
    cursor: pointer;
}

.select-options .option:hover {
    background-color: var(--bg-15);
}

.custom-select.active .select-options {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.arrow {
    margin-left: 4px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: var(--border-radius-sm);
}
::-webkit-scrollbar-thumb {
    background: var(--bg-10);
    border-radius: var(--border-radius-sm);
}
::-webkit-scrollbar-corner {
    background: transparent;
}

.section {
    font-family: 'system-ui';
    min-height: 280px;
    padding: 12px 12px 0 12px;
    background: var(--bg-default);
}

.section-content {
    display: flex;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    gap: 12px;
}

.widget {
    font-family: 'system-ui';
    position: fixed;
    padding-top: 12px;
    bottom: 70px;
    right: 20px;
    width: 100%;
    max-width: 300px;
    height: 80vh;
    max-height: 600px;
    background: var(--bg-default);
    border-radius: var(--border-radius-default);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.widget-header {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.card {
    padding: 16px;
    background: var(--bg-4);
    text-align: center;
    border-radius: var(--border-radius-default);
    margin-bottom: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card .price {
    font-size: var(--font-size-24);
    line-height: var(--line-height-32);
    font-weight: 700;
    color: var(--primary);
}
.reserve-btn {
    margin-top: 12px;
    background: var(--primary);
    width: 100%;
    color: black;
}
.widget-content {
    padding: 12px;
    overflow-y: auto;
    gap: 12px;
    height: calc(100% - 88px);
}
.widget-card-date {
    margin-top: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-50);
    backdrop-filter: blur(12px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
}
/* Modal container */
.modal {
    font-family: 'system-ui';
    background-color: var(--bg-default);
    padding: 20px;
    border-radius: var(--border-radius-default);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    width: 90%;
}
/* Header */
.modal-header {
    color: var(--text-color-80);
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}
.modal-description {
    margin-bottom: 24px;
    color: var(--text-color-80);
}
.modal-additional-text {
    text-align: center;
    color: var(--primary);
}
/* Form */
.modal-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.modal-body label {
    font-size: var(--font-size-default);
    line-height: var(--line-height-default);
    margin-bottom: 4px;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.save-button {
    background-color: var(--primary);
    color: black;
}

.input-label {
    display: block;
    color: var(--text-color-80);
    font-size: var(--font-size-default);
    line-height: var(--line-height-default);
    margin-bottom: 8px;
}

.input {
    width: -webkit-fill-available;
    background-color: var(--bg-10);
    border: none;
    border-radius: var(--border-radius-default);
    color: var(--text-color-80);
    padding: 8px 12px;
    font-size: var(--font-size-default);
    line-height: var(--line-height-default);
    outline: none;
}

.input-error {
    border: 1px solid var(--danger);
}

.text-error {
    color: var(--danger);
}

input::placeholder {
    color: var(--text-color-placeholder);
}

.text-disabled {
    color: var(--text-color-placeholder);
}

.spinner-container {
    background-color: var(--bg-default);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.spinner {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    color: var(--primary);
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner .75s linear infinite;
    animation: spinner .75s linear infinite;
}

.no-data-container {
    color: var(--primary);
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 24px;
    text-align: center;
}

.terms-modal {
    font-family: 'system-ui';
    background-color: var(--bg-default);

    padding: 20px;
    border-radius: var(--border-radius-default);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    width: 90%;
}

.terms-modal-body {
    white-space: break-spaces;
    overflow-y:scroll;
    color: var(--text-color-80);
    max-height: 500px;
}

.terms-modal-header {
    color: var(--text-color-default);
    font-size: var(--font-size-24);
    line-height: var(--line-height-32);
    margin-bottom: 24px;
}

.terms-link {
    color: var(--primary);
    cursor: pointer;
}

@keyframes spinner {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}