:host {
    --primary: #D7DB51;
    --danger: #D55454;

    /* Backgrounds */
    --bg-default: #fff;
    --bg-accent: #fff;
    --bg-10: rgba(255, 255, 255, 0.1);

    /* Borders */
    --border-color: #E5E5E5;

    /* Text colors */
    --text-color-default: #1E3148;
    --text-color-placeholder: #6B7280;
    --text-color-button: #1E3148;
    --text-color-reverse: #fff;

    /* Fonts */
    --font-size-default: 15px;
    --line-height-default: 20px;

    /* Inputs */
    --input-size: 36px;

    /* Borders */
    --border-radius-default: 12px;
    --border-radius-sm: 4px;

    /* Cards */
    --card-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    --card-gap: 12px;

    /* Icons */
    --calendar-icon-invert: invert(0.5); /* invert the calendar icon, 0 - 1 */
}
